# Miniconda/Anaconda
miniconda3/
Miniconda3/
anaconda3/
Anaconda3/
Miniconda3-latest-Linux-x86_64.sh

# Conda environments
env/
venv/
.conda/

# Python
**/__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Pytest
.pytest_cache

pmns_exec/saves/
pmns_exec/params/
pmns_exec/tests/*.h
pmns_exec/config_pmns

/test_*

/pmns_factory/pmns_E_type0_vector.py