===================
Architecture used :
===================

WORD_SIZE: {{container.get('phi_pow')}}

======================
Field construct with :
======================

POLYNOMIAL_EXTENSION: {{container.get('mod')}}

PRIME: {{container.get('p')}}

PRIME SIZE: {{container.get('p').nbits()}}

EXTENSION_DEGREE: {{container .get('k')}}

=====================
PMNS construct with :
=====================

EXTERNAL_REDUCTION: {{container.get('E')}}

GAMMA: {{container.get('gamma')}}

RHO: {{container.get('rho')}}