#ifndef PMNS_PARAMS_H
#define PMNS_PARAMS_H

#include <gmp.h>
#include <stdint.h>

# define DEGREE {{ container.get('n') }}
# define RHO {{ container.get('rho') }}
# define N_LIMBS {{ container.get('n_limbs') }}
# define EXTENSION_DEGREE {{ container.get('k') }}
# define PHI_POW {{ container.get('phi_pow') }}
# define P_SIZE {{ container.get('p').nbits() }}

{% if container.get('etype') == container.type0 %}# define LAMBDA {{ -container.get('E')[0] }}
{%else%}# define ALPHA {{ -container.get('E')[container.get('k')] }}
# define BETA {{ -container.get('E')[0] }}
{%endif%}

# define IS_TOEPLITZ_USABLE {{ 1 if container.data.is_toeplitz_usable else 0 }}
# define IS_BABAI_USABLE {{ 1 if container.data.is_babai_usable else 0 }}
# define IS_ELEMENTS_IN_GAMMA_BASIS {{ 1 if container.data.is_elements_in_gamma_basis else 0 }}
# define IS_DOUBLE_SPARSE {{ 1 if container.data.is_double_sparse else 0 }}
# define IS_E_BINOMIAL {{ 1 if container.get('etype') == container.type0 else 0 }}

static mp_limb_t GAMMA[EXTENSION_DEGREE][N_LIMBS] __attribute__((unused)) = {{ container.get('gamma', True) }};

static mp_limb_t P[N_LIMBS] __attribute__((unused)) = {{ container.get('p', True) }};

#endif
